

<app-home-carousel></app-home-carousel>
<app-scroll-to-top></app-scroll-to-top>

<!-- <app-pokemon-carousel></app-pokemon-carousel> -->

<div class="pokeCont">
    <h2>Consultez les fiches de l'ensemble des Pokemons</h2>
    <div class="pokeList">
        <div *ngFor="let pokemon of pokemons" class="card">
            <mat-card class="example-card" data-aos="fade-up" data-aos-once="true">
                <mat-card-header class="cardHeader">
                    <mat-card-title>{{pokemon.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="http://localhost:3000/uploads/{{pokemon.image}}" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button>Détails</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <button mat-flat-button routerLink="/pokemon/pokedex">Liste complète</button>
</div>
<!-- 
<form class="formulaire">
    <mat-form-field class="example">
            <mat-select placeholder="Type">
                <mat-option *ngFor="let type of types" [value]="type.name" class="type" >
                    {{type.name}}
                </mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field class="example">
        <mat-select placeholder="Generation">
            <mat-option value ="1st Gen" >1st Gen</mat-option>
            <mat-option value ="2nd Gen" >2nd Gen</mat-option>
            <mat-option value ="3rd Gen" >3rd Gen</mat-option>
            <mat-option value ="4th Gen" >4th Gen</mat-option>
            <mat-option value ="5th Gen" >5th Gen</mat-option>
            <mat-option value ="6th Gen" >6th Gen</mat-option>
            <mat-option value ="7th Gen" >7th Gen</mat-option>
            <mat-option value ="8th Gen" >8th Gen</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example">
        <input matInput placeholder="Search" />
    </mat-form-field>

    <button mat-flat-button class="formButton">Apply</button>
</form>
<div class="content">
    <app-pokemon-list class="pokedex"
        [pokemons]="(pokemons | async)?.sprites?.front_default"
        (pokemonClick)="onPokemonSelect($event)">
    </app-pokemon-list>
    <app-pokemon-details class="details" [detailedPokemon] = "pokemonDetail"></app-pokemon-details>
</div> -->

