/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: lightgoldenrodyellow}
body { margin: 0; 
    font-family: cursive, sans-serif !important;}

h1{
    margin-block-start: 0;
}

p{
    margin-block-start: 0;
}