<div class="desktopVersion">
    
    <mat-toolbar class="navbar">
        <div class="menu">

            <div class="logo">
                <p routerLink="">LOGO</p>
            </div>
            <!-- <div class="logo" routerLink="/pokemon/pokedex">  
                <img src="/assets/pokemon-symbol-logo-png-31.png"  >    
            </div>
            -->
            <button mat-button class="bouton" routerLink="/pokemon/pokedex">Pokemon</button>
            <button mat-button class="bouton" routerLink="/capacity">Capacités</button>
            <button mat-button class="bouton" routerLink="/talent">Talent</button>
            <button mat-button class="bouton" routerLink="/type">Type</button>
            <button mat-button class="bouton" routerLink="/search-team">Chercher une équipe</button>
            <!-- <audio src="/assets/pokemon.mp3" controls autoplay id="aud" >
                <script>
                    document.getElementById('aud').play();
                </script>
            </audio> -->
        </div>
        <div class="menu">
            <button mat-button class="bouton" routerLink="/auth/signin" *ngIf="userService.offline">Connexion</button>
            <div *ngIf="userService.connectedUser" class="profil">
                <button mat-button class="bouton" [matMenuTriggerFor]="menu">Profil</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/profil">MON PROFIL</button>
                    <button mat-menu-item (click)="logout()">DECONNEXION</button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>
</div>


<!-- Mobile version -->



<nav class="mobileVersion">

    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobileLogo">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="bouton" routerLink="/pokemon/pokedex">Pokemon</button>
        <button mat-menu-item class="bouton" routerLink="/capacity">Capacités</button>
        <button mat-menu-item class="bouton" routerLink="/talent">Talent</button>
        <button mat-menu-item class="bouton" routerLink="/type">Type</button>
        <button mat-menu-item class="bouton" routerLink="/create-team">Construire son équipe</button>
        <button mat-menu-item class="bouton" routerLink="/search-team">Chercher une équipe</button>
    </mat-menu>

    <div class="mobileLogo logoMobile">
        <p routerLink="/pokemon/pokedex">Pokemon App</p>
    </div>

    <div class="mobileLogo">
        <button mat-button class="bouton" routerLink="/auth/signin" *ngIf="userService.offline">Connexion</button>
        <div *ngIf="userService.connectedUser" class="profil">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profil">MON PROFIL</button>
                <button mat-menu-item (click)="logout()">DECONNEXION</button>
            </mat-menu>
        </div>
    </div>

</nav>

