<div class="createTeamCont">
    <h1>Créer votre équipe</h1>
    <form class="teamForm" [formGroup]="teamForm" (ngSubmit)="addTeam()">

        <mat-form-field class="example" appearance="outline" >
            <mat-label>Nom de l'équipe</mat-label>
            <input matInput formControlName="teamName" />
        </mat-form-field>

        <div class="pokemon">
            <mat-form-field class="example" appearance="outline" >
                <mat-label>Pokémon 1</mat-label>
                <mat-select formControlName="pokemon1">
                    <mat-option *ngFor="let pokemon of getPokemons1()"  [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example" appearance="outline">
                <mat-label>Pokémon 2</mat-label>
                <mat-select formControlName="pokemon2">
                    <mat-option *ngFor="let pokemon of getPokemons2()" [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example" appearance="outline">
                <mat-label>Pokémon 3</mat-label>
                <mat-select formControlName="pokemon3">
                    <mat-option *ngFor="let pokemon of getPokemons3()"  [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="pokemon">
            <mat-form-field class="example" appearance="outline">
                <mat-label>Pokémon 4</mat-label>
                <mat-select formControlName="pokemon4">
                    <mat-option *ngFor="let pokemon of getPokemons4()"  [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>  

            <mat-form-field class="example" appearance="outline">
                <mat-label>Pokémon 5</mat-label>
                <mat-select formControlName="pokemon5">
                    <mat-option *ngFor="let pokemon of getPokemons5()" [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>    

            <mat-form-field class="example" appearance="outline">
                <mat-label>Pokémon 6</mat-label>
                <mat-select formControlName="pokemon6">
                    <mat-option *ngFor="let pokemon of getPokemons6()" [value]="pokemon.id" class="pokemon" >
                        {{pokemon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>    
        </div>
    
        <button mat-flat-button class="formButton">Apply</button>
    </form>
</div>